.wow04 p {
  width: 1280px;
  line-height: 20px;
  font-size: 20px;
  color: #f90047;
  animation: runnin 4s infinite alternate;
  position: absolute;
}
@keyframes runnin {
  from {
    left: 30px;
  }
  to {
    left: -30px;
  }
}
.wow09 p {
  width: 1280px;
  line-height: 20px;
  font-size: 20px;
  color: #a00750;
  animation: runnin 4s infinite alternate;
  position: absolute;
}
@keyframes runnin {
  from {
    left: 30px;
  }
  to {
    left: -30px;
  }
}
.puppet {
  width: 50px;
  height: 25px;
  font-size: 13em;
  text-align: center;
  display: flex;
  align-items: center;
  animation: pulse 4s infinite;
}
@keyframes circle-to-square90 {
  0% {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  100% {
    width: 200px;
    height: 200px;

    border-radius: 10%;
  }
}
