* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #e7d2b4;
  padding: 20px;
}

.box-style {
  font-size: 13em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Анимация */
@keyframes slideleft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes runnin {
  from {
    left: 30px;
  }
  to {
    left: -30px;
  }
}

@keyframes circle-to-square1 {
  from {
    width: 50px;
    height: 50px;
    background-color: #100249;
  }
  to {
    width: 200px;
    height: 200px;
    background-color: #2e9aff;
  }
}

@keyframes circle-to-square2 {
  from {
    width: 100px;
    height: 100px;
    background-color: #f90047;
  }
  to {
    width: 200px;
    height: 200px;
    background-color: #232aaf;
  }
}

@keyframes circle-to-square3 {
  from {
    width: 50px;
    height: 50px;
    background-color: #fbd218;
    border-radius: 50%;
  }
  to {
    width: 200px;
    height: 200px;
    background-color: #2e9aff;
    border-radius: 10%;
  }
}

/* БЛОКИ С АНИМАЦИЯМИ */
#box01,
#box07 {
  width: 500px;
  height: 250px;
  background-color: #f90047;
  animation: slideleft 1s ease-out forwards;
}

#box03 {
  width: 1280px;
  height: 300px;
  background-color: #872843;
  font-size: 13em;
  animation: slideleft 1s ease-out forwards;
}

/* БЕГУЩИЕ СТРОКИ */
.running-text-container {
  overflow: hidden;
  position: relative;
  width: 1280px;
}

.running-text-container p {
  position: absolute;
  width: 1280px;
  animation: runnin 3s infinite alternate;
}

.wow04 {
  height: 100px;
  background-color: #0207a2e4;
}

.wow04 p {
  line-height: 20px;
  font-size: 20px;
  color: #f90047;
}

.wow03 {
  height: 200px;
  background-color: #fdaeef;
}

.wow03 p {
  line-height: 50px;
  font-size: 50px;
  color: #61051a;
}

.wow {
  height: 200px;
  background-color: #232aaf;
}

.wow p {
  line-height: 40px;
  font-size: 40px;
  color: #10cac1;
  animation: runnin 5s infinite alternate;
}

.runnin-string {
  height: 200px;
  background-color: #fdaeef;
}

.runnin-string p {
  line-height: 120px;
  font-size: 120px;
  color: #10185a;
  display: flex;
  text-align: center;
  animation: runnin 6s infinite alternate;
}

/* КРУГИ И КВАДРАТЫ */
.circle {
  border-radius: 100%;
}

.ww4 {
  width: 50px;
  height: 50px;
  background-color: #fbd218;
}

.wowe {
  width: 200px;
  height: 200px;
  background-color: #fdaeef;
  animation: circle-to-square3 2s infinite alternate-reverse ease-in 1s;
}

.w-cube {
  width: 200px;
  height: 200px;
  background-color: #fbd218;
  animation: circle-to-square1 3s infinite alternate-reverse ease-in 5s;
}

.e02-cube {
  width: 200px;
  height: 200px;
  background-color: #1cd3c6;
  animation: circle-to-square2 2s infinite alternate-reverse ease-in 3s;
  z-index: -1;
}

.ww9 {
  width: 200px;
  height: 200px;
  background-color: rgb(255, 123, 0);
  animation: circle-to-square3 2s infinite alternate-reverse ease-in 1s;
}

.ww2 {
  width: 200px;
  height: 200px;
  background-color: #1cd3c6;
  animation: circle-to-square2 1s infinite alternate-reverse ease-in 2s;
}

.box02 {
  width: 200px;
  height: 200px;
  background-color: #fbd218;
  animation: circle-to-square3 2s infinite alternate-reverse ease-in 1s;
}

.section5 {
  width: 200px;
  height: 200px;
  animation: circle-to-square1 3s infinite alternate-reverse ease-in 5s;
}

/* ИЗОБРАЖЕНИЯ И SVG */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.toys01 {
  width: 250px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.toys02 {
  width: 255px;
  height: 300px;
}

/* ДОПОЛНИТЕЛЬНЫЕ БЛОКИ */
.wow1 {
  width: 1280px;
  height: 120px;
  background-color: #000000;
  overflow: hidden;
  position: relative;
}

.png {
  width: 1280px;
  line-height: 20px;
  font-size: 20px;
}

.box4 {
  width: 1280px;
  height: 1280px;
}
